/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
div#region_top_bar {
  padding: 8px 16px;
  position: fixed;
  top: 0;
  height: 76px;
  box-shadow: 0 0.5rem 1rem 0 #1a1f33;
  background: #222b45;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

div#region_left_top,
div#region_right_top {
  flex-basis: 50%;
  position: relative;
  display: flex;
}

div#region_right_top {
  justify-content: flex-end;
}

body {
  padding-top: 76px;
}
